<html>
    <head>
        <title>Steam Gift Cards</title>
        <link rel="stylesheet" type="text/css" href="style.CSS">\
        <style>
             .button20 {
             margin-left: -165px;
             }          
             .button50 {
             margin-left: -165px;
             }          
             .button100 {
             margin-left: -165px;
             }          
        </style>
    </head>
    <body>
        <header>
            <div class="jumbotron">
                <img height="102" width="102" data-src-hq="https://th.bing.com/th?id=AMMS_c8c2ffa41f33c8b4345378a893fae310&amp;w=102&amp;h=102&amp;c=7&amp;o=6&amp;oif=webp&amp;pid=SANGAM" alt="All images" role="presentation" data-priority="2" id="emb1055D9C68F" class="rms_img" src="https://th.bing.com/th?id=AMMS_c8c2ffa41f33c8b4345378a893fae310&amp;w=102&amp;h=102&amp;c=7&amp;o=6&amp;oif=webp&amp;pid=SANGAM" data-bm="47">
                <h1>Steam Gift Cards</h1>
                <p>Promo !!</p>
            </div>
        </header>
        <main>
            <img src="steam-gift-card-20$.webp" class="GiftCards20">
            <a href=https://www.target.com/p/steam-gift-card/-/A-79568501?preselect=14767511#lnk=sametab><button class="button20">Add To Cart</button></a>
            <img src="steam-gift-card-50$.webp" class="GiftCards50">
            <a href=https://www.target.com/p/steam-gift-card/-/A-79568501?preselect=14767513><button class="button50">Add To Cart</button></a>
            <img src="steam-gift-card-100$.webp" class="GiftCards100">
            <a href=https://www.target.com/p/steam-gift-card/-/A-79568501?preselect=47409487><button class="button20">Add To Cart</button></a>
        </main>   
        <footer>

        </footer>
    </body>
</html>
